html {
    font-family: sans-serif;
}
body {
    margin: 0px;
}
header {
    position: absolute;
    top: 25%;
    left: 32px;
    right: 32px;
    margin: 0;
    transform: translate(0, -50%);    
}
h1, h2 {
    margin: 0px;
}
h1 {
    font-size: 3em;
}
#buttons {
    position: absolute;
    left: 32px;
    right: 32px;
    bottom: 64px;
    display: flex;
    justify-content: center;
}
button {
    padding: 16px;
}
